# Ignore everything
*

# Allow folders (so ignored files inside them can be re-included if needed)
!*/

# Explicitly ignore .gitignore itself
*.gitignore

# Ignore Git internals
.git/
.gitmodules

# Ignore GitHub config and metadata
.github/
.gitattributes
.gitkeep

# Ignore common CI/CD and workflows
.github/workflows/
.github/actions/
.github/ISSUE_TEMPLATE/
.github/PULL_REQUEST_TEMPLATE.md
